/**/node_modules/
/**/src/serverInfo.js
/**/*.log
/**/build/
/**/__pycache__/
/**/*.pyc
/**/.vscode/
/**/operation_data/
/**/*.backup
*.code-workspace
/**/generic.go
/database/
wordpress/wp_plugins/**/vendor/
docs/
secrets/
/**/.svelte-kit/
apps/client/static/
ssl/
action_scripts/
databases/qdrant/
